[Desktop Entry]
Type=Application
Version=1.0
Name=Deezer Downloader
GenericName=Music Downloader
Comment=Search and download music from Deezer
Exec=deezer-downloader-gui
Icon=me.androidloves.deezer-downloader
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=music;deezer;download;mp3;flac;
StartupNotify=true
StartupWMClass=me.androidloves.deezer-downloader
